<div class="center hero-unit">
<h1>Welcome to my photo App</h1>
<p>
You've found the home page for the
<%= link_to "Photorails","http://photorails.com"%>
application.
</p>
<p>
	<a%= link_to "Sign Up Now","#" %>
</p>
</div>